.cards__article {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr minmax(460px, min-content);
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .cards__article {
    grid-template-columns: 440px 1fr;
    grid-template-rows: 1fr minmax(440px, min-content);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .cards__article {
    grid-template-columns: 340px 1fr;
    grid-template-rows: 1fr minmax(340px, min-content);
    column-gap: 28px;
    row-gap: 46px;
  }
}

@media screen and (max-width: 640px) {
  .cards__article {
    grid-template-columns: 1fr;
    grid-template-rows: min-content minmax(320px, min-content) min-content;
    row-gap: 32px;
  }
}