.cards__paragraph {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.cards__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 950px) {
  .cards__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .cards__paragraph {
    padding: 0 5%;
  }
}