.gallery__container {
  max-width: 1280px;
}

/* Адиптивный размеры контейнера */

@media screen and (max-width: 1024px) and (min-width: 976px) {
  .gallery__container {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) and (min-width: 753px) {
  .gallery__container {
    max-width: 720px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery__container {
    width: 100%;
  }
}