.header {
  padding-top: 28px;
  max-width: 1280px;
  display: flex;
  justify-content: center;
}

/* Адаптивный верхний паддинг*/

@media screen and (max-width: 425px) {
  .header {
    padding-top: 16px;
  }
}