.cards__item {
  margin-bottom: 80px;
}

.cards__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .cards__item {
    margin-bottom: 67px;
  }
}

@media screen and (max-width: 640px) {
  .cards__item {
    margin-bottom: 49px;
  }
}