.cards__link {
  margin: 0;
  padding-top: 12px;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.cards__link:hover {
  opacity: 0.8;
}