.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Адиптивный размеры контейнера */

@media screen and (max-width: 1024px) and (min-width: 976px) {
  .header__container {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) and (min-width: 753px) {
  .header__container {
    max-width: 720px;
  }
}