.footer {  
  padding: 92px 48px 18px;
  max-width: 1184px;
}

@media screen and (max-width: 752px) {
  .footer {
    padding: 88px 24px 18px;
  }
}

@media screen and (max-width: 740px) {
  .footer {
    padding: 64px 16px 24px;
  }
}