.cover__text-container {
  max-width: 560px;
}

@media screen and (max-width: 640px) {
  .cover__text-container {
    max-width: 370px;
  }
}

@media screen and (max-width: 425px) {
  .cover__text-container {
    max-width: 288px;
  }
}